.hide{
	
}
body {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    color: #333;
    width: 960px;
    margin:20px auto;
}
.info-block{
	clear: both;
}
.info-block h1{
	border-bottom: 1px solid #DDD;
	color: #555;
	margin-bottom: 50px;
	padding-bottom: 5px;
}
.info-block .block, .info-block .form-block{
	margin: 20px 0;
}
.color{
	width: 80px;
	height: 125px;
	text-align: center;
	color: #FFF;
	padding: 60px 0px;
}
.codeinfo{
	float: right;
	color: #888;
}
.prettyprint{
	line-height: 1.5;
	border: none !important;
}
.code{
	border: 1px solid #DDD;
	background: #EEE;
	padding: 10px;
	float: right;
	border-radius: 2px;
	display: none;
}
tab{
	margin-left: 20px;
}
.loader{
	top : auto;
	left: auto;
	position: relative !important;
}
.highlight{
	animation: highlight 1s infinite;
	-webkit-animation: highlight 1s infinite;
	-moz-animation: highlight 1s infinite;
	-o-animation: highlight 1s infinite;
}
.pointer{
	display: inline-block;
}
.form-block.input-prepend{
	display: block;
}